
@{

    <!DOCTYPE html>
    <html>
    <head>

      <title>Мой сайт</title>
      <link rel="stylesheet" type="text/css" href="balanceStyle.css">
      <script src="indexBalance.js"></script>
        <link rel="stylesheet" href="~/css/balanceStyle.css" asp-append-version="true" />
    </head>
    <body>
      <div class="balanceBlock">
        <div>
          <div id="balanceDisplay">
            Balance: 
            <span id="balanceAmount">@Model.balance UAH</span> 
          </div>
          <form method="post" action="action">
          <button id="myButton">back</button>
          </form>
        </div>
      </div>
    </body>
    </html>

}
