
@{


    <!DOCTYPE html>
    <html>
    <head>
            <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
            <title>Login Page</title>
            <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
            <div class="login-container">
                <h1>Pin <h1>

                    <form method="post" id="loginForm" action="transaction">
                    <input type="password" id="Pin" name="Pin" placeholder="Password" required>
                    <button type="submit">Login</button>
                    </form>


            </div>

    </body>
    </html>



}
