
@{

<!DOCTYPE html>
<html>

<head>

        <title>PuzoBank</title>
    <link rel="stylesheet" href="~/css/main2Style.css" asp-append-version="true" />

</head>

<body>
  <div class="main-container">
    <div class="blockBorder">
      <h1>PuzoBank </h1>
               
                <form action="pin1" method="post">
                    <button id="balanceButton"  class="myButton">Balance</button>
                </form>
                <form action="pin2" method="post">
      <button id="cashButton" action="fab" class="myButton">Cash</button>
                </form>
    </div>
  </div>
</body>

</html>
}