
@{
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="~/css/other.css" asp-append-version="true" />
<head>
  <title> </title>
  <link rel="stylesheet" type="text/css" href="otherAmountStyle.css">
</head>

<body>
  <div class="main-container">
    <h1>Amount cash</h1>
    <div class="input-container">
    <form method="post" id="loginForm" action="takemoney">
         <input type="text" id="myInput" name="FieldName" />
         <button id="myButton" type="submit">Take</button>
     </form>
    </div>
  </div>

  <script src="indexOther.js"></script>
</body>

</html>
}
